/.buildpath
/.composer/
/.idea/
/.php_cs.cache
/.phpunit.result.cache
/.project
/.settings/
/.vscode/
/composer.lock
/composer.phar
/docker-compose.yml
/docker/php.ini
/php-cs-fixer.phar
/vendor/
*.iml
