version: '3'
services:
  app:
    build: docker
    network_mode: bridge
    volumes:
      - .:/var/app
    working_dir: /var/app
    environment:
      TZ: "Asia/Tokyo"
      LANG: "ja_JP.UTF-8"
#      PHP_INI: "docker/php.ini"
